#HC {
  font-family: "Source Code Pro", $font-family-monospace;

  .btn {
    font-size: 1.15rem;
  }

  .badge {
    font-weight: 400;
    &.badge-default {
        background-color: $text-color;
        color: white;
    }
  }
}

#planningContent {
    margin: .5em 0;
}

.fc-controls {
  .fc-month {
    width: 66%;
    text-transform: capitalize;
    text-overflow: ellipsis;
    color: $text-color;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.3rem;
    padding: 0.25rem 1rem;

    @include media-breakpoint-down(xs) {
      font-size: 1rem;
    }
  }

  .btn:focus {
    box-shadow: none;
  }
}

.affix {
  position: -webkit-sticky;
  top: env(safe-area-inset-top);
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  padding: 0.25rem;
  z-index: 1000;
}

#calendar {
  .fc-calendar {
    /* Common Styles */
    -webkit-font-smoothing: antialiased;

    .fc-body {
      .fc-cell {
        &:active {
          background-color: #f0f0f0;
        }

        @media (hover:hover) {
          &:hover {
            background-color: #f0f0f0 !important;
          }
        }

        > .fc-title.badge-conges {
          background-color: darken($success, 30%);
          color: white;
        }

        &.today {
          > span.fc-date, > span.fc-weekday {
            color: $dark;
            font-weight: bold;
          }
        }

        &.calendar-dow-5, &.calendar-dow-6 {
          background-color: #f9f9f9;

          .badge.badge-light {
            background-color: #fff;
          }
        }

        &.adjacent-month > * {
          opacity: 0.3;
        }

        &.event {
          cursor: pointer;
        }

        &.allday {
          .fc-start, .fc-end {
            display: none !important;
          }

          .fc-summary {
            color: var(--gray);
            text-align: center;
          }
        }

        &.hidden {
          display: none !important;
        }
      }
    }

    .fc-content {
      font-family: "Source Code Pro", $font-family-monospace;
      font-weight: 400;
      list-style: none;
      padding: 0;
      margin: 0;

      .fc-event {
        &.start-before-day {
          .fc-start {
            visibility: hidden;
          }
        }

        &.end-after-day {
          .fc-end {
            visibility: hidden;
          }
        }
      }

      .fc-summary {
        font-weight: bold;
      }

      > .fc-event {
        .fc-start, .fc-end {
          color: $gray-600;
        }

        &:first-child {
          > span {
            &.fc-start {
              color: $text-color;
            }
          }
        }

        &:last-child {
          > span {
            &.fc-end {
              color: $text-color;
            }
          }
        }
      }
    }

    /* Calendar Table view */
    &.fc-table {
      > .fc-head, > .fc-body {
        width: 100%;

        .fc-cell {
          width: 14.2857%;
          padding: 0;
          margin: 0 auto;
          vertical-align: top;
        }
      }

      > .fc-head {
        > .fc-row {
          display: flex;
          flex-wrap: wrap;

          &.fc-small {
            @include media-breakpoint-up(md) {
              display: none;
            }
          }

          &.fc-large {
            @include media-breakpoint-down(sm) {
              display: none;
            }
          }

          > .fc-cell {
            padding: .7rem;
            @include media-breakpoint-down(sm) {
              text-align: center;
            }
          }
        }
      }

      > .fc-body {
        display: flex;
        flex-wrap: wrap;

        > .fc-cell {
          height: 9rem;
          border-top: 1px solid #ecf0f1;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          @include media-breakpoint-down(md) {
            height: 12rem;
          }

          @include media-breakpoint-down(xs) {
            height: 3.5rem;
          }

          &.today {
            border-color: $gray-600;
          }

          &.blank, &.dispersion {
            .fc-title {
              display: none;
            }
          }

          > .fc-date {
            display: block;
            padding: .25rem .7rem 0;

            @include media-breakpoint-down(xs) {
              text-align: center;
            }
          }

          > .fc-weekday {
            display: none;
          }

          > .fc-title {
            display: block;
            margin: 0.25rem .7rem 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            > span {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }

            &.span-left {
              margin-left: 0;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              padding-left: calc(.4em + .7rem);

              > span {
                visibility: hidden;
              }
            }

            &.span-right {
              margin-right: 0;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              padding-right: calc(.4em + .7rem);
            }

            @include media-breakpoint-down(xs) {
              padding: 0.2rem 0.2rem;
              margin: 0.25rem 0.25rem;
              line-height: 0.5rem;

              > span {
                font-size: 0.5rem;
                text-transform: uppercase;
              }
            }
          }

          > .fc-content {
            font-size: .7rem;
            padding: 0 .7rem;
            display: none;

            > .fc-event {
              display: block;
              width: 100%;

              > span {
                display: block;
              }

              .fc-start, .fc-end {
                width: 2.5rem;
              }

              .fc-end {
                text-align: right;
                display: none;
              }

              .fc-summary {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                span {
                  &.fc-from, &.fc-to {
                    text-align: center;
                  }

                  &.fc-from {
                    padding-right: 0.1rem;
                  }

                  &.fc-to {
                    padding-left: 0.1rem;
                  }

                  &.fc-flight-num {
                    display: none;
                  }
                }

                > .table-row {
                  display: table;

                  > .table-cell {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                  }
                }
              }

              .fc-summary {
                border-bottom: 1px solid #eee;

                > .table-row {
                  margin-left: 0;
                }
              }

              &:last-child {
                .fc-start {
                  display: none;
                }

                .fc-summary {
                  border-bottom: none;
                }

                .fc-end, .fc-end {
                  display: block;
                  text-align: left;
                }
              }
            }

            &.fc-length-1 .fc-event .fc-start {
              display: block;

              @include media-breakpoint-up(lg) {
                display: table-cell;
              }
            }

            @include media-breakpoint-up(xs) {
              display: none;
            }

            @include media-breakpoint-up(sm) {
              display: table;
              table-layout: fixed;
              width: 100%;
            }

            @include media-breakpoint-up(lg) {
              > .fc-event {
                display: table-row;

                > span {
                  display: table-cell;
                }

                .fc-summary {
                  text-align: center;
                  border: none;

                  > .table-row {
                    margin-left: auto;
                    margin-right: auto;
                  }
                }

                .fc-end {
                  display: table-cell;
                }

                &:last-child {
                  .fc-start, .fc-end {
                    display: table-cell;
                  }

                  .fc-end {
                    text-align: right;
                  }
                }
              }
            }

            @include media-breakpoint-up(xl) {
              font-size: 0.8rem;

              > .fc-event {
                .fc-start, .fc-end {
                  width: 2.65rem;
                }
              }
            }

            @include media-breakpoint-down(md) {
              &.fc-length-5 {
                > .fc-event {
                  &:nth-child(4) {
                    display: none;

                    & + .fc-event:before {
                      content: "...";
                    }
                  }

                  &:last-child {
                    .fc-summary {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    /* Calendar List view */
    &.fc-list {
      margin: 0;

      > .fc-head {
        display: none;
      }

      > .fc-body {
        .fc-cell {
          width: 100%;
          padding: 9px 5px 10px;
          white-space: nowrap;
          overflow: hidden;
          border-bottom: 1px solid #ecf0f1;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;

          &.calendar-dow-6 {
            border-bottom: 2px solid #c4c4c4;
          }

          &.adjacent-month {
            display: none;
          }

          > .fc-weekday {
            width: 2.5ch;
            font-size: 0.9rem;
            flex-shrink: 0;
            flex-grow: 0;

            @include media-breakpoint-down(xs) {
              font-size: 0.66rem;
            }
          }

          > .fc-date {
            width: 2.5ch;
            font-size: 1.2rem;
            flex-shrink: 0;
            flex-grow: 0;
            text-align: center;
            margin: 0 1ch;

            @include media-breakpoint-down(xs) {
              font-size: 1rem;
            }
          }

          > .fc-title {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 0.7rem;
            min-width: 12ch;
            flex-shrink: 0;
            flex-grow: 0;

            @include media-breakpoint-down(xs) {
              margin-right: 0.5rem;
              min-width: 3ch;
              max-width: 10ch;

              > span {
                font-size: 0.6rem;
                text-transform: uppercase;
              }
            }
          }

          > .fc-content {
            display: flex;
            flex-flow: row nowrap;
            flex-shrink: 1;
            flex-grow: 1;
            justify-content: flex-start;
            align-items: center;
            white-space: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            font-size: 0.8rem;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */

            &::-webkit-scrollbar {
              display: none;
            }

            > .fc-event {
              display: inline-block;
              line-height: 1rem;
              white-space: nowrap;
              vertical-align: middle;

              > span {
                display: inline-block;
              }
            }

            > .fc-event + .fc-event::before {
              content: "·";
              display: inline-block;
              padding: 0 0.25rem 0 0.6rem;

            }

            .fc-summary {
              display: inline-block;
              vertical-align: bottom;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

              .table-row, .table-cell {
                display: inline;
              }
            }

            &.fc-length-3, &.fc-length-4, &.fc-length-5, &.fc-length-6 {
              > .fc-event:not(:first-child), > .fc-event:not(:last-child) {
                display: none;
              }

              > .fc-event:first-child, > .fc-event:last-child {
                display: inline-block;
              }

              > .fc-event:last-child::before {
                display: inline-block;
                content: "...";
              }
            }

            @include media-breakpoint-down(md) {
              .fc-flight-num {
                display: none;
              }
            }

            @media all and (max-width: 599px) {
              font-size: 0.75rem;

              &:not(.fc-length-1) .fc-summary {
                max-width: 12ch;
              }

              &:not(.fc-length-1) > .fc-event:first-child {
                > .fc-end {
                  display: none;
                }
              }

              > .fc-event:last-child {
                > .fc-start {
                  display: none;
                }
              }
            }

            &.fc-length-1 .fc-event .fc-start {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
