.badge{
    &.badge-conges {
        background-color: darken($success, 30%);
        color: #ffffff;
    }

    &.badge-npl {
        background-color: #ff8d00;
        color: #ffffff;
    }

    &.badge-stage {
        background-color: darken($danger, 30%);
        color: #ffffff;
    }
}