#google {
  .progress {
    height: 4px;
    margin-bottom: 4px;
  }

  .modal-body {
    h4 {
      font-size: 1rem;
    }

    table {
      width: 100%;
      table-layout: fixed;

      th.label, td.label {
        width: 40%;
        text-overflow: ellipsis;
        overflow-x: hidden;
      }

      .chosen-drop {
        z-index: 5000;
      }
    }

    th {
      vertical-align: middle;

      h3, h4 {
        margin: 0;
        text-overflow: ellipsis;
        overflow-x: hidden;
      }

      span.badge {
        display: block;
        text-align: center;
        text-overflow: ellipsis;
        overflow-x: hidden;
        hyphens: auto;
      }
    }

    td {
      text-align: center;
      vertical-align: middle;
      overflow-y: visible;

      &.input {
        cursor: pointer;
      }

      input[type=checkbox] {
        height: 24px;
        width: 24px;
        cursor: pointer;
      }
    }
  }
}
