.btn-google {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 8px;

  &:hover {
    background-color: #e2e6ea;
    border-color: none;
  }

  .ladda-label {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    align-items: center;
  }

  img {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 24px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  span.label {
    display: inline-block;
    text-align: left;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

#google {
  .progress {
    height: 4px;
    margin-bottom: 4px;
  }

  .modal-body {
    h4 {
      font-size: 1.2rem;
    }

    table.table-events {
      width: 100%;
      table-layout: fixed;

      th.label, td.label {
        width: 40%;
        text-overflow: ellipsis;
        overflow-x: hidden;
      }

      th {
        vertical-align: middle;

        h3, h4 {
          margin: 0;
          text-overflow: ellipsis;
          overflow-x: hidden;
        }

        span.badge {
          display: block;
          text-align: center;
          text-overflow: ellipsis;
          overflow-x: hidden;
          hyphens: auto;
        }
      }

      td {
        text-align: center;
        vertical-align: middle;
        overflow-y: visible;

        &.input {
          cursor: pointer;
        }

        input[type=checkbox] {
          height: 24px;
          width: 24px;
          cursor: pointer;
        }
      }

      .chosen-drop {
        z-index: 5000;
      }
    }

    table.table-colors {
      tr td {
        vertical-align: middle;
      }

      td.tag span {
        display: inline-block;
        font-weight: bold;
      }

      td.select {
        text-align: right;
      }
    }
  }
}
