#mainView {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  padding-top: calc(env(safe-area-inset-top) + 2px);
  background-color: $success;

  #statusBarBackground {
    position: fixed;
    top: 0px;
    width: 100%;
    height: env(safe-area-inset-top);
    background-color: rgba(0,214,108,0.9);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: 100000;
    justify-self: flex-start;
  }

  #navbar {
    flex-grow: 0;
    justify-self: flex-start;
  }

  #content {
    flex-grow: 1;
    justify-self: flex-start;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  footer {
    flex-grow: 0;
    justify-self: flex-end;

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
