@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#navbar {
  border-top: 2px solid $success;

  .container-xl {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .status-button {
    min-width: 38px;

    &.btn-warning {
      color: #fff;
    }

    & > .fa-sync {
      animation: spin 1s linear infinite;
    }
  }
}

#navbar-collapse {
  padding: 1.5rem 3rem;
  margin: 0 -1.5rem;
  box-shadow: inset 0 0 10px -1px black;

  .container-xl {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  form#login {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #baseSelect .input-group {
    width: auto;
  }

  hr {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);
  }

  .settings {
    border: 1px solid rgba($color: #ffffff, $alpha: 0.1);
    border-radius: 3px;
    padding: 0;

    .setting {
      border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);
      padding: 0 0.5rem 0.5rem 0.75rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      &:last-child {
        border-bottom: none;
      }

      > * {
        margin-top: 0.5rem;
      }

      .title {
        flex-grow: 1;
      }

      .state {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;

        > * {
          margin-right: 0.5rem;
        }
      }

      .actions {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;

        > * {
          display: inline-block;
          margin-right: 0.5rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .collapse, .collapsing {
        width: 100%;

        .settings {
          border: none;
        }
      }
    }
  }
}
