li.notification {
  border-radius: $border-radius;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
  padding: 14px;
  margin: 10px auto 0;
  color: #fff;
  position: relative;

  a {
    &, &:hover, &:visited {
      color: white;
    }
  }

  &.error {
    background-color: $danger;
  }

  &.warning {
    background-color: $warning;
  }

  &.info {
    background-color: $info;
  }

  &.success {
    background-color: $success;
  }

  & div.title {
    top: 0;
    font-weight: bold;
    margin-bottom: 5px;
  }

  & div.message {
    bottom: 0;
    vertical-align: middle;

    a {
      text-decoration: underline !important;
    }
  }

  & div.closeButton {
    top: 0px;
    right: 10px;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
  }
}

.tosync .noty_theme__sunset {
  &.noty_type__error {
    background-color: $danger;
  }

  &.noty_type__success {
    background-color: $success;
  }

  &.noty_type__info {
    background-color: $info;
  }

  &.noty_type__warning {
    background-color: $warning;
  }
}
