#remu {
  select {
    -webkit-appearance: none;
    text-align-last: center;
  }

  caption {
    caption-side: top;
    text-align: center;
  }

  #profilAFForm {
    .input-group-prepend .input-group-text {
      min-width: 5rem;
    }
  }

  button.icsimport {
    margin-bottom: 1rem;
  }

  table.table {
    font-family: "Source Code Pro", $font-family-monospace;
    font-weight: 400;

    @include media-breakpoint-up(xs) {
      font-size: 1rem;
    }

    th, td {
      vertical-align: middle;
      overflow-x: hidden;
    }

    &.stats, &.remu {
      table-layout: fixed;
      tr {
        td, th {
          text-align: center;
        }

        td:first-child, th:first-child {
          text-align: left;
        }

        th + td, th ~ td {
          font-weight: 600;
        }
      }
    }
  }
}
