#toolbar {
  button, .btn {
    font-family: 'Roboto', sans-serif;
  }

  .btn.btn-block, .btn-group > .btn:first-child {
    padding: 6px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;

    i, svg, span.icon {
      display: inline-block;
      height: 16px;
      width: 16px;
      margin-right: 24px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    span.label {
      display: inline-block;
      text-align: left;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}
