<template name="adminPNImport">
  <div id="adminPNImport">
    <h5>[ADMIN] Importation données statiques</h5>
    <div class="row">
      <div class="col">
        <div class="custom-file">
      		<label class="custom-file-label">Importation PN</label>
      		<input name="PN" class="custom-file-input" type="file" accept="application/json">
      	</div>
      </div>
      <div class="col">
      	<div class="custom-file">
      		<label class="custom-file-label">Importation Aéroports</label>
      		<input name="Airports" class="custom-file-input" type="file" accept="application/json">
      	</div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <div class="custom-file">
      		<label class="custom-file-label">Importation HV100% TO</label>
      		<input name="HV100" class="custom-file-input" type="file" accept="application/json">
      	</div>
      </div>
      <div class="col">
        <div class="custom-file">
      		<label class="custom-file-label">Importation HV100% AF</label>
      		<input name="HV100AF" class="custom-file-input" type="file" accept="application/json">
      	</div>
      </div>
    </div>
  </div>
</template>
