<template name="calendar">
	<div id="calendar-container">
		<div class="affix sticky-top">
			<div class="container-xl">
				<div class="row justify-content-between align-items-center">
					<div class="col-2 px-0">
						{{#if isTableStyle }}
						<button class="btn btn-link fc-style">
							<i class="fas fa-list"></i>
						</button>
						{{else}}
						<button class="btn btn-link fc-style">
							<i class="fas fa-calendar"></i>
						</button>
						{{/if}}
					</div>
					<div class="col-auto flex-grow-1 px-0">
						<div class="fc-controls d-flex justify-content-center align-items-center">
							<button class="clndr-previous-button btn btn-link">
								<i class="fas fa-chevron-left"></i>
							</button>
							<button class="btn btn-link fc-month" disabled>{{ format month 'MMMM YYYY' }}</button>
							<button class="clndr-next-button btn btn-link">
								<i class="fas fa-chevron-right"></i>
							</button>
						</div>
					</div>
					<div class="col-2 text-right px-0">
						<button type="button" class="btn btn-link remu">
							<i class="fas fa-chart-bar"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div id="HC">
			{{#with stats=remu }}
			<div class="container-xl text-muted text-center">
				<button id="statsButton" type="button" class="btn btn-light remu">
					<i class="fas fa-file-invoice"></i>
					<span class="badge {{ eHSclass stats.eHS }} remu">eHS {{ numFormat stats.eHS }}</span>
					<span class="badge badge-default remu">HDV {{ duree stats.tv }}</span>
				</button>
			</div>
			{{/with}}
		</div>
		<div id="planningContent">
			<div class="container-xl">
				<div id="calendar" class="fc-calendar-container">
					<h4 class="d-none d-print-block text-capitalize">{{ format month 'MMMM YYYY' }}</h4>
					<div class="fc-calendar {{ displayStyle }}">
						<div class="fc-head text-muted">
							<div class="fc-row fc-small">
								<span class="fc-cell">Lun.</span>
								<span class="fc-cell">Mar.</span>
								<span class="fc-cell">Mer.</span>
								<span class="fc-cell">Jeu.</span>
								<span class="fc-cell">Ven.</span>
								<span class="fc-cell">Sam.</span>
								<span class="fc-cell">Dim.</span>
							</div>
							<div class="fc-row fc-large">
								<span class="fc-cell">Lundi</span>
								<span class="fc-cell">Mardi</span>
								<span class="fc-cell">Mercredi</span>
								<span class="fc-cell">Jeudi</span>
								<span class="fc-cell">Vendredi</span>
								<span class="fc-cell">Samedi</span>
								<span class="fc-cell">Dimanche</span>
							</div>
						</div>
						<div class="fc-body">
							{{#each day in days}}
								{{> planningCalendarDay day=day }}
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div><!-- /content -->
	</div>
</template>

<template name="planningCalendarDay">
	<div class="fc-cell {{ dayClasses }}" data-date="{{ day.slug }}">
		<span class="fc-weekday text-muted">{{ day.weekday }}</span>
		<span class="fc-date text-muted">{{ day.day }}</span>
		<div>
			{{> planningCalendarDayLabel day }}
      {{#unless day.allday }}
  			{{#with eventsList }}
  			<ul class="fc-content fc-length-{{ this.length }}">
  				{{#each evt in this }}
  					{{> Template.dynamic template=(calendarEventTemplate evt) data=evt }}
  				{{/each}}
  			</ul>
  			{{/with}}
			{{/unless}}
		</div>
	</div>
</template>

<template name="planningCalendarRotation">
	<!-- Rotation Event -->
</template>

<template name="planningCalendarDayLabel">
	<div class="fc-title badge {{ dayLabelClass tag }} {{ spanClass }}"><span>{{ dayLabelText tag }}</span></div>
</template>

<template name="planningCalendarVol">
	<li class="fc-event fc-flight {{ classes }}">
		<span class="fc-start">{{ heure start }}</span>
		<span class="fc-summary">
			<div class="table-row">
				<div class="table-cell">
					<span class="fc-flight-num">{{ num }}</span>
				</div>
				<div class="table-cell">
					<span class="fc-from">{{ from }}</span>
				</div>
				<div class="table-cell">
					<span class="fc-to">{{ to }}</span>
				</div>
			</div>
		</span>
		<span class="fc-end">{{ heure end }}</span>
	</li>
</template>

<template name="planningCalendarEvent">
	<li class="fc-event {{ classes }}">
		<span class="fc-start">{{ heure start }}</span>
		<span class="fc-summary">{{ summary }}</span>
		<span class="fc-end">{{ heure end }}</span>
	</li>
</template>
