<template name="loginStatusBar">
  {{#if isLoggedIn }}
  <div id="statusBar">
    <div class="d-flex justify-content-center align-items-center">
      <p class="text-center">
        <i class="fas fa-user"></i>&nbsp;
        {{#with userProfile }}
        <span class="text-capitalize">{{ prenom }}</span>
        <span class="text-uppercase">{{ nom }}</span>
        {{/with}}
      </p>
      <div class="input-group input-group-sm mb-3 w-auto ml-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Base</span>
        </div>
        <select id="baseSelect" class="custom-select custom-select-sm">
          {{#each base in bases }}
            <option value="{{ base }}" {{ selectedBase base }}>{{ base }}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <button type="button" class="logout btn btn-sm btn-danger mx-auto d-block" {{ disabledOnConnectRunning }}>
      <i class="fas fa-times"></i>&nbsp;Déconnexion
    </button>

    <div class="card bg-dark text-muted mt-4" style="max-width: 800px; margin-left: auto; margin-right: auto;">
      <div class="card-body">
        <strong>Suite à la fermeture définitive de TO.connect, l'importation automatique de votre planning n'est plus possible.</strong><br>
        Seule l'importation manuelle reste disponible :
        <ol>
          <li>téléchargez votre planning au format iCalendar sur <a href="https://planning.to.aero/FlightProgram/GetICS" target="blank">CrewWeb Plus</a> (lien « Mail Calendar » de la page roster),</li>
          <li>cliquez sur le bouton « Importer un fichier ics » ci-dessous et sélectionnez le fichier téléchargé.</li>
        </ol>
      </div>
    </div>
  </div>
  {{/if}}
</template>
