<template name="main">
  <div id="mainView">
    <div id="statusBarBackground"></div>
    {{> navbar isLoggedIn=isLoggedIn }}
    <div id="content">
      {{> yield }}
    </div>
    <footer>
      <div class="container-xl">
        <div class="row justify-content-center text-center">
          <div class="col-lg-3 col-md-4 col-6">
            <p><a href="#" data-toggle="modal" data-target="#changelog">
                <i class="fas fa-retweet"></i> TO.sync 2.3.2
              </a></p>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <p><a id="cguLink" href="https://cgu.tosync.avapps.fr">
                <i class="fas fa-user-shield"></i> Conditions d'utilisation
              </a></p>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <p><a href="https://github.com/AVapps/tosync" target="blank">
                <i class="fab fa-github"></i> GitHub
              </a></p>
          </div>
          <div class="col-lg-3 col-md-12 col-6">
            <p class="copyright">
              <a href="https://t.me/AdrienV" target="blank">
                <i class="fab fa-telegram-plane"></i>
                AdrienV
              </a>
              &nbsp;
              <i class="far fa-copyright"></i>
              2023
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <div id="modals">
    {{#if isLoggedIn }}
    {{> modal }}
    {{> enrollModal }}
    {{> google }}
    {{> remu }}
    {{> changes }}
    {{/if}}
    {{> changelog }}
  </div>

</template>