<template name="main">
  <div id="mainView">
  	{{> navbar isLoggedIn=isLoggedIn connectAuthentificated=connectAuthentificated }}
    <div id="content">
      {{#if isLoggedIn }}
      	<div id="calendar-container">
          {{> calendar }}
        </div>
      {{ else }}
        {{> home }}
      {{/if}}
    </div>
    <footer>
  		<nav class="navbar navbar-dark bg-success" role="navigation">
  			<div class="container-xl">
  				<p class="navbar-text">
  					<a href="#" data-toggle="modal" data-target="#changelog">TO.sync 2.1.1</a>
  				</p>
          <p class="navbar-text">
  					<a id="cguLink" href="https://cgu.tosync.avapps.fr">Conditions d'utilisation</a>
  				</p>
  				<p class="navbar-text navbar-right">AdrienV &copy; 2020</p>
  			</div>
  		</nav>
  	</footer>
  </div>

  <div id="modals">
    {{#if isLoggedIn }}
      {{> modal }}
    	{{> google }}
      {{> remu }}
      {{> changes }}
    {{/if}}
    {{> changelog }}
    {{> notifications }}
  </div>




</template>
